<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Community Sidekicks</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Palette+Mosaic&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:ital@0;1&display=swap" rel="stylesheet">

</head>

<div class="hero"></div>

<body>
  <div id= "all" class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav class="navbar navbar-expand-lg navbar-light bg-green">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
          
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}

        <a href="/profile">
        <button class="profile" id="profile">Profile</button>
        </a>

        <a href="/api/volunteer">
        <button class="volunteers"  id="profile">Volunteers</button>
        </a> 

        <button class="logout" id="logout">logout</button>
        {{else}}
        <a href="/">        
        <button class="homebtn" id="home">Home</button>
        </a> 

        <a href="/login">
        <button class="loginbtn" id="Volunteer"> Organization Login</button>
        </a>

          <a href="/volunteerSignup">        
          <button class="volunteerSignupbtn" id="Volunteer">Volunteer Signup</button>
          </a> 

        {{/if}}
          
      </nav>
      <h1 href="/">Community Sidekicks</h1>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
<!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>