<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Community Sidekicks</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>

<body>
  <div id= "all" class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <nav class="navbar navbar-expand-lg navbar-light bg-green">
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/user">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a class="loginbtn" href="/login">Organization Login</a>
        {{/if}}
          </div>
      </nav>
      <h1>
        <p href="/">Community Sidekicks</p>
      </h1>
    </header>

    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
<!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>
</html>