
<section  class="UserContainer">
    <h2 id= "do">What we do!</h2>
          <P> Community Sidekicks is a humanitarian website that allows organizations to connect with Volunteers!. </P>
     <br>
     <h2 class= "vision">Vision</h2>
          <P> Our vision is to eliminate the struggle of finding a volunteer. </P>
          <br>
     <h2 class= "mission">Mission</h2>
          <P> Our mission is to help Organizations locate volunteers with ease. </P>
</section>

{{!-- If we have enough time I think this would be something we can add --}}
{{!-- <section class="currentpartners">
     <h2> Current Partners</h2>   
     <ul>{{organization_name}}</ul>
</section> --}}