
<section  class="UserContainer">
    <h2 id= "do">What we do!</h2>
          <P> Community Sidekicks is a humanitarian website in which you can sign up to donate your time to a number of organizations in search of people willing to do volunteer work. Non-profit organizations can create an account and see a list of volunteers, and volunteers can sign up to be viewed and vetted by organizations.  </P>
     <br>
     <h2 class= "do">Vision</h2>
          <P> "To connect the goodwill and kindness of the people to create a better community" </P>
          <br>
     <h2 class= "do">Mission</h2>
          <p> Our mission is to help humanity thrive by joining members of the community and various organizations and opening the hearts and opportunities to work together for the good of others.  </p>
</section>
<br>
<br>
<br>
<section>
     <h2 style="color:gray; text-align:center; font-style:italic;">Organizations we are partnered with: </h2>
     <div style="justify-content: center;" class="row">
            <div class="col">
              Minnie's Food Pantry 
               <img src="/images/minnies-food-pantry-logo.png" id="partner-icons"
              /></a>
            </div>
            <div class="col">
               North Texas Food Bank
              <img src="/images/north-tx-food-bank.png" id="partner-icons" />
            </div>
              <div class="col">
               White Rose Women's Center
              <img src="/images/white-rose-womens.jfif" id="partner-icons" />
            </div>
            <div class="col">
               St. Vincent de Paul
              <img src="/images/st-vincent.jfif" id="partner-icons" />
            </div>
          </div>
</section>