
<section  class="UserContainer">
    <h2 id= "do">What we do!</h2>
          <P> Community Sidekicks is a humanitarian website in which you can sign up to donate your time to a number of organizations in search of people willing to do volunteer work. Non-profit organizations can create an account and see a list of volunteers, and volunteers can sign up to be viewed and vetted by organizations.  </P>
     <br>
     <h2 class= "vision">Vision</h2>
          <P> "To connect the goodwill and kindness of the people to create a better community" </P>
          <br>
     <h2 class= "mission">Mission</h2>
          <p> Our mission is to help humanity thrive by joining members of the community and various organizations and opening the hearts and opportunities to work together for the good of others.  </p>