<div class="col-md-6">

  <h2>Organization Signup</h2>
      <img src="/images/Organizations.png" alt="image" width="1200">

  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup">Organization Name</label>
      <br>
      <input 
      class="form-input" 
      type="text" 
      id="organization_name"
      placeholder="Enter Organization"
      />
    </div>
    <div class="form-group">
      <label for="email-signup">Email</label>
      <br>
      <input 
      class="form-input" 
      type="text" 
      id="email-signup" 
      placeholder="Enter Email"
      />
    </div>
    <div class="form-group">
      <label for="phone-signup">Phone Number</label>
      <br>
      <input 
      class="form-input" 
      type="text" 
      id="volunteer-phone"
      placeholder="Enter Organization Contact Phone Number"
      />
    </div>
    <div class="form-group">
      <label for="password-signup">Password</label>
      <br>
      <input 
      class="form-input" 
      type="password" 
      id="password-signup"
      placeholder="Create a Password"
      />
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary"
        type="submit"
        id="signupBtn"
      >Signup</button>
    </div>
  </form>

</div>