<div class="col-md-6">

  <h2>Organization Signup</h2>
  <img src="/images/Organizations.png" alt="image" width="1200" />

  <form class="form signup-form" id="signupBtn">
    <div class="form-group">
      <label for="name-signup">Organization Name</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="text"
        id="organization_name"
        placeholder="Enter Organization"
      />
    </div>
    <div class="form-group">
      <label for="name-signup">Organization Description</label>
      <br />
      <textarea
        rows="4"
        cols="163"
        id="organization_description"
        placeholder="Please provide a brief description of the organization and volunteer work you are looking for help with"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="email-signup">Email</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="text"
        id="email-signup"
        placeholder="Enter Email"
      />
    </div>
    <div class="form-group">
      <label for="phone-signup">Phone Number</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="text"
        id="organization-phone"
        placeholder="Enter Organization Contact Phone Number, example: XXX-XXX-XXX"
      />
    </div>
    <div class="form-group">
      <label for="password-signup">Password</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="password"
        id="password-signup"
        placeholder="Create a Password"
      />
    </div>
    <div class="form-group mt-3">
      <button class="btn btn-primary" type="submit">Signup</button>
    </div>
  </form>

</div>
<script src="./js/login.js"></script>