<!-- Shows all the users volunteer history/ log a new project!--> 

<section class="UserContainer">
  
  {{#each users as |user| }}
    <h3> Full name: {{user.first_name}} {{user.last_name}}</h3>
    <p> Email: {{user.email}}</p>
    <h4> Volunteer History</h4>
    {{Volunteerhours.hours}}


  </div>
  {{/each}}
</section>


