<div class="col-md-6">
  <h2>Want to Volunteer?</h2>

  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup">First Name</label>
      <input class="form-input" type="text" id="first_name" />
    </div>
    <div class="form-group">
      <label for="name-signup">Last Name</label>
      <input class="form-input" type="text" id="last_name" />
    </div>
    <div class="form-group">
      <label for="email-signup">Email</label>
      <input class="form-input" type="text" id="volemail" />
    </div>
    <div class="form-group">
      <label for="phone-signup">Phone Number</label>
      <input class="form-input" type="volunteer-phone" id="volphone" />
    </div>
    <div class="form-group">
      <label for="zipcode-signup">Zip code</label>
      <input class="form-input" type="text" id="volzip" />
    </div>
    <div class="form-group">
      <button
        class="btn btn-primary"
        type="submit"
        id="volsignupBtn"
      >Signup</button>
    </div>
  </form>
</div>