<div class="col-md-12">
  <h2>Signup to Volunteer!</h2>

  <form class="form signup-form" id="volsignupBtn">
    <div class="form-group" size="160">
      <label for="name-signup">First Name</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="text"
        id="first_name"
        placeholder="John"
      />
    </div>
    <div class="form-group">
      <label for="name-signup">Last Name</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="text"
        id="last_name"
        placeholder="Smith"
      />
    </div>
    <div class="form-group">
      <label for="email-signup">Email</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="text"
        id="volemail"
        placeholder="example@gmail.com"
      />
    </div>
    <div class="form-group">
      <label for="phone-signup">Phone Number</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="volunteer-phone"
        id="volphone"
        placeholder="XXX-XXX-XXX"
      />
    </div>
    <div class="form-group">
      <label for="zipcode-signup">Zip code</label>
      <br />
      <input
        size="160"
        class="form-input"
        type="text"
        id="volzip"
        placeholder="XXXXX"
      />
    </div>
    <div class="form-group mt-3 mb-3">
      <button class="btn btn-primary" type="submit">Signup</button>
    </div>
  </form>
  <div class="volimage">
    <img
      src="/images/volunteer.jpg"
      alt="image"
      width="500"
      class="mx-auto d-block"
    />
  </div>
</div>
<script src="/js/volunteer-signup.js"></script>