h1 {
  text-align: center;
  font-family: "Palette Mosaic", cursive;
  font-size: 100px !important;
  color: rgb(218, 247, 166);
  text-shadow: black 3px 3px;
}

header,
html {
  background: rgb(198, 192, 12);
  padding: 5px, 0px, 0px, 5px;
}

.loginbtn,
.homebtn {
  font-weight: 700;
  background-color: forestgreen;
  color: black;
  border-radius: 7px;
  padding: 5px;
  margin: 5px;
  text-decoration: underline;
}

p {
  font-family: "Roboto", sans-serif;
}
